## Q1

Single Line Comments

In [1]:
#This is single line comment

Multiline comment

In [10]:
"""Hi This is Vinay from chattisgarh,korba"""
print("Hello")

Hello

## Q2

Variables- Variables are containers which store data values.Like it can conatin string ,numbers,float,list,dictionary,etc.

In [11]:
name = "vinay"
i = 100
li1 = [1,2,3,4]
di1 = {"name":"Vinnu","age":22}

## Q3

We can convert one data type to another by using functions like int(),float(),set(),list(),tuple().

In [12]:
x = "100"
x = int(x)
print(x)

100

In [14]:
tup1 = (1,2,3,4,5)
li1 = list(tup1)
print(li1)

[1, 2, 3, 4, 5]

In [15]:
li2 = [1, 2, 3, 4, 5]
set1 = set(li2)
print(set1)

{1, 2, 3, 4, 5}

In [17]:
y = 50.8778
i1 = int(y)
print(i1)

50

## Q4

The most easiest way to run code in command line is to first open a terminal and type python(after installing python in the system) whatever version you have.And then start coding in the terminal.

## Q5

In [19]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

## Q6

Complex numbers are the numbers which are represented by real and imaginary both.Any complex number is represented by a+bi.

In [20]:
com_num = 12+5j
print(com_num)
print(type(com_num))

(12+5j)
<class 'complex'>

## Q7

The simplest way to assign a value to any variable is like this,

In [21]:
age = 25
print(age)

25

## Q8

In [22]:
price = 9.99
print(price)
print(type(price))

9.99
<class 'float'>

## Q9

In [23]:
name = "M Vinay Rao"
print(name)

M Vinay Rao

## Q10

In [26]:
string = "Hello, World!"
print(string[7:12])
print(string[-6:-1])

World
World

## Q11

In [27]:
is_student = False
print(is_student)

False

In [30]:
is_student = input("Are you a student?Type True for yes,False:No")
if is_student == True:
    print(is_student)
else:
    print(is_student)

Are you a student?Type True for yes,False:No False

False